.article-form {
  margin-top: 3rem;
  justify-self: end;
  padding: 2rem;
  width: 100%;

  .form-group {
    input {
      width: 80%;
    }

    textarea {
      width: 80%;
    }
    .wisiwyg {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(11, 1fr);

      input {
        border-radius: 7%;
      }
    }
  }

  button {
    margin: 1rem 1rem;
    font-size: 1.5rem;
    display: block;
    width: 15%;
    height: 3.5rem;
    background-color: $color-primary;
    color: $color-secondary;
    cursor: pointer;
  }
}
