.border {
    border: 1px solid white;

    &-navy {
        border: 1px solid $color-navy;
    }
    
    &-top {

        &-white {
            border-top: 2px solid white;
        }

        &-yellow {
            border-top: 2px solid $color-yellow;
        }

        &-navy {
            border-top: 2px solid $color-navy;
        }
    }
}