.findus-container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
  grid-template-rows: auto;
}

.findus-header {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background: $color-navy;
  height: 32rem;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;

  @media (max-width: 1000px) {
    height: 27rem;
  }

  h1 {
    font-size: 4rem;
    color: $color-yellow;

    @media (max-width: 1000px) {
      font-size: 3.5rem;
    }
  }

  i {
    font-size: 20rem;
    color: $color-yellow;

    @media (max-width: 1000px) {
      font-size: 15rem;
    }
  }
}

.locations {
  grid-column: 2 / 12;
  padding: 2rem;
  border: 3px solid $color-navy;
  height: 80rem;
  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr;

  @media (max-width: 1200px) {
    height: 70rem;
  }

  @media (max-width: 1165px) {
    grid-column: 1 / -1;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  @media (max-width: 900px) {
    height: 60rem;
  }

  &-intro {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: $color-navy;
    }

    p {
      font-size: 1.6rem;
    }
  }

  &-map {
    grid-row: 2 / 3;
    padding: 4rem;
    margin: 6rem;

    @media (max-width: 1000px) {
      padding: 3rem;
      margin: 4rem;
    }
    @media (max-width: 700px) {
      padding: 2rem;
      margin: 3rem;
    }
    @media (max-width: 500px) {
      padding: 1rem;
      margin: 1.5rem;
    }
  }
}
