.fixtures-container {
  display: grid;
  grid-template-columns: 7rem repeat(10, 1fr) 7rem;
  grid-template-rows: auto;
}

.fixtures {
  grid-column: 3 / 11;
  min-height: 30rem;
  margin-bottom: 1rem;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 0.2rem;

  @media (max-width: 1150px) {
    grid-column: 2 / 12;
  }
  @media (max-width: 940px) {
    grid-column: 1 / -1;
  }
  @media (max-width: 630px) {
    padding: 4rem;
  }
  @media (max-width: 450px) {
    padding: 2rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}

.fixture_card {
  height: 10rem;
  padding: 0.5rem 0.5rem;
  box-shadow: $box-shadow-light;
  text-align: center;
  border: 1px solid $color-primary;
  display: grid;
  align-items: center;
}
