.footer {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    background-color: $color-primary;
    min-height: 5rem;

    display: grid;

    .info {
        justify-self: center;
        align-self: center;
        font-size: 1.3rem;
        color: white;

        span {
            color: $color-secondary;
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }
    }
}
