.news-container {
    display: grid;
    grid-template-columns: 7rem repeat(10, 1fr) 7rem;
    grid-template-rows: auto;
    background-color: lighten($color: lightgrey, $amount: 15%);
}

.news-header {
    grid-column: 1 / -1;
    display: grid;
    height: 25rem;
    background-color: $color-navy;
    margin-bottom: 1rem;

    h1 {
        grid-column: 1 / -1;
        text-transform: capitalize;
        justify-self: center;
        align-self: center;
        color: $color-yellow;
        font-size: 4rem;

        @media (max-width: 440px) {
            font-size: 3.5rem;
        }
    }

    i {
        font-size: 11rem;
        color: $color-yellow;
        align-self: center;
        justify-self: center;
    }
}

.section-news {
    grid-column: 3 / 11;
    height: auto;
    padding: 6rem;
    background-color: lighten($color: $color-primary, $amount: 65%);

    @media (max-width: 1150px) {
        grid-column: 2 / 12;
    }
    @media (max-width: 940px) {
        grid-column: 1 / -1;
    }
    @media (max-width: 630px) {
        padding: 4rem;
    }
    @media (max-width: 450px) {
        padding: 2rem;
    }
}

.news-item {
    margin-bottom: 2rem;
    border: $color-primary 1px solid;
    height: auto;
    padding: 0.5rem 0.5rem;
    position: relative;
    box-shadow: $box-shadow-light;
    background-color: lighten($color: $color-primary, $amount: 64%);

    display: grid;
    grid-template-rows: 5rem 20rem 15rem 3rem;

    h1 {
        margin-top: 1rem;
        padding-left: 1rem;
        background-color: $color-primary;
        color: $color-secondary;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        grid-row: 1 / 2;
    }

    &-img {
        grid-row: 2 / 3;
        width: 100%;
        margin-top: 0.5rem;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &-content {
        grid-row: 3 / 4;
        margin-bottom: 0.5rem;
        overflow: none;
        font-size: 1.4rem;
        padding: 1rem 1rem;
        background-color: lighten($color: $color-primary, $amount: 66%);
        & * {
            padding: 0.5rem 1rem;
            line-height: 20px;
        }
    }

    &-footer {
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0.5rem;

        a {
            justify-self: center;
            background: $color-navy;
            color: $color-yellow;
            padding: 0.85rem 0.85rem;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1.2rem;

            &:hover {
                background: lighten($color: $color-navy, $amount: 10%);
            }
        }
    }
}

.news-item-full {
    margin-bottom: 2rem;
    border: $color-primary 1px solid;
    height: auto;
    padding: 0.5rem 0.5rem;
    position: relative;
    box-shadow: $box-shadow-light;

    display: grid;
    grid-template-rows: 5rem 25rem 40rem;

    h1 {
        margin-top: 1rem;
        padding-left: 1rem;
        background-color: $color-primary;
        color: $color-secondary;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        grid-row: 1 / 2;
    }

    &-img {
        grid-row: 2 / 3;
        width: 100%;
        margin-top: 0.5rem;
        background: lighten($color: $color-primary, $amount: 50%);
        padding: 1rem 2rem;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &-content {
        grid-row: 3 / 4;
        margin-bottom: 0.5rem;
        overflow: hidden;
        font-size: 1.4rem;
        padding: 1rem 1rem;

        & * {
            padding: 0.5rem 1rem;
            line-height: 20px;
        }
    }

    &-footer {
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0.5rem;

        a {
            justify-self: center;
            background: $color-navy;
            color: $color-yellow;
            padding: 0.85rem 0.85rem;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1.2rem;

            &:hover {
                background: lighten($color: $color-navy, $amount: 10%);
            }
        }
    }
}

.section-newsitem {
    grid-column: 3 / 11;
    height: auto;
    padding: 6rem;
    background-color: lighten($color: $color-primary, $amount: 65%);

    @media (max-width: 1150px) {
        grid-column: 2 / 12;
    }
    @media (max-width: 940px) {
        grid-column: 1 / -1;
    }
    @media (max-width: 630px) {
        padding: 4rem;
    }
    @media (max-width: 450px) {
        padding: 2rem;
    }
}

.pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    .page-item {
        color: $color-primary;
        text-decoration: none;
        font-size: 1.5rem;
        list-style: none;
    }
}
