$box-shadow-light: 6px 6px 5px -2px rgba(0, 0, 0, 0.18);
$background-color-light: rgb(242, 236, 236);
$box-shadow-light: 6px 6px 5px -2px rgba(0, 0, 0, 0.18);
$color-yellow: rgb(249, 236, 55);
$color-navy: rgb(42, 48, 117);
$color-primary: rgb(42, 48, 117);
$color-secondary: rgb(249, 236, 55);
